body{
    background-color: black;
    background-image: url(../img/gtx2.jpg);
    background-repeat: no-repeat;
}
.cent{
    width: 600px;height: 610px;
    margin:100px 0px 0px 200px;
}
h1{
    color: white;
}
h2{
    color: white;
    font-weight: 100;
    margin-left: 65px;
}
p{
    width:450px;
    height: 100px;
    color: white;
    margin-top:60px ;
}
.box{
    width: 100px;height: 100px;
    background-color: greenyellow;
    text-align: center;line-height:100px;
    font-size:100px;font-weight: 500;
    border-radius: 10px;
    margin: 60px 10px;
    float: left;
}
